.nav{
    font-size: 25px;
    padding: 80px;
background-color: mistyrose;
}

body{

    background-color:mistyrose;
}

#foto{
    margin-top: -50px;
    margin-left: 1230px;
    border-radius: 40%;
}
.d-block{
    margin-left: 80px;
    margin-top: 350px;
    margin-bottom: 80px;
}
.cabecalho{
display:flex

}

.closet{
    text-align: left;
    margin-top: -120px;
}
  
