
#foto{
    margin-top: 20px;
    margin-left: 570px;  
    margin-bottom: -10px; 
}

#foto2{
margin-left: 1000px;
margin-top: -1000px;
margin-bottom: -5px;

}

#foto3{
    margin-top: 20px;
    margin-left: 500px;  
    margin-bottom: -10px; 
}



.d-block{
    margin-left: 80px;
    margin-top: 350px;
    margin-bottom: 80px;
}



.closet{
    text-align: left;
    margin-top: 120px;
}


body{
    background-color: mistyrose;

}


.grid-template-columns {
	grid-template-columns: 200px 200px;
}

.item {
	margin: 5px;
	text-align: center;
	
}

.grid{
    display: grid;

}
h1{
    text-align: center;
}

    .button1 {
        background-color: #4CAF50;
        border: none;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin-left: 700px;
    }

    .button2 {
        background-color: #4CAF50;
        border: none;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin-left: 700px;
        margin-top: -15px;
    }

    
      